<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84497181841-11o1gudtpn6vheuvedpibqghjrlf3v9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84497181841-11o1gudtpn6vheuvedpibqghjrlf3v9e</string>
	<key>API_KEY</key>
	<string>AIzaSyDuIKCYEoteVhvOeB67fiqsIS3Yu9Ec8A0</string>
	<key>GCM_SENDER_ID</key>
	<string>84497181841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetoMobile.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>churrascaria-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>churrascaria-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84497181841:ios:ce86968ef2f03ae9c82330</string>
	<key>DATABASE_URL</key>
	<string>https://churrascaria-mobile-default-rtdb.firebaseio.com</string>
</dict>
</plist>